<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Class Views
        {% block title %}
            How to Use class based views
        {% endblock %}
    </title>

    <style  type="text/css">
       #topcontent{

            margin: auto;
            width: 800px;
            height: auto;
            text-align: center;
           font-size: medium;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li {% block showhome %}{% endblock %} ><a href="{% url 'index' %} ">Home</a></li>
                        <li {% block showbasic %}{% endblock %}><a href="{% url 'basic' %} ">Basic</a></li>
       <li {% block showlist %}{% endblock %}> <a  href="{% url 'listview' %}  ">ListView</a></li>
                     <li {% block showform %}{% endblock %}> <a  href="{% url 'formview' %}  ">FormView</a></li>



    </ul>
  </div>
</nav>


           {% block home %}
{% endblock %}
{% block basic %}
{% endblock %}
{% block generic %}
{% endblock %}


         <div class="content" id="topcontent">
            {% block content %}{% endblock %}
         </div>



      <div class="footer">

        </div>

</body>


</html>
