{% extends "base.html" %}


{% block showhome %}
    class="active"
{% endblock %}

{% block home %}

  <div>
    <h4>These Tutorials uses example to explain the class based views in django.Django contains generic classes that can be leveraged
    to easily create common views.Eg Listview is used to create a list,detail view class is used to create a selection from a list.
    </h4>
    <p>Above are links to specific tutorials on this concepts.The first tutorial <b>Basic</b> present simple example of
        using templates as views.More information is available at the page.
    </p>
  <p>
      The ListView <b>ListView</b> introduces a generic view (boiler plate)that can be used to create a list of objects.
  </p>
</div>
{% endblock %}






